<!-- component to display the details of the question -->

<p><strong>Question:</strong>{{question.qst}}</p>
<h5>(<strong>Submitted by:{{question.author}}</strong>)</h5>
<h5><strong>Notes:</strong>{{question.notes}}</h5>

<button class="btn-danger" {{action 'delete' question}}>Delete Question</button>
