<!-- This is a page that explains how the site works -->
<h3>question and answer message board where a user submits a question and other users can respond with answers.
</h3>
<ul>
<li>Questions should have the content of the question itself, an author and additional notes.</li>
<li>Answers should have the content of the answer and the author.</li>
<li>Include a header and/or navbar that appears on all pages containing the name of your site and a link to the home page.</li>
<li>List all questions on the homepage, with only the question and the name of the author showing.</li>
<li>Users should be able to click on a question, and be routed to another page containing additional information.</li>
<li>Allow users to add and edit questions.</li>
<li>Allow users to add answers to a question. Answers should be added and viewed on the same page as the question they respond to.</li>
</ul>
