<div class="row">
  <div class="col-md-12">
    <div class="">
      <img src="http://rlaquest.raj.nic.in/Images/questions2.jpg" alt="" class="img-responsive">
    </div>
  </div>
</div>
<header>

</header>
{{outlet}}
